# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Distribution
build/
dist/
*.egg-info/

# Packaging
pip-wheel-metadata/

# Unit Tests
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Type Checking
.mypy_cache/

# Ruff
.ruff_cache/

# Pyright
.pyright/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# Dataset
dataset/images/
dataset/metadata.csv

# Downloaded videos
videos/

# Temporary files
*.tmp
*.temp

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Python Version
.python-version